body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

.main {
  background-image: url(../img/back\ packages.png);
  height: 750px;
  background-size: cover;
  background-position: top;
}

.i-one {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.menu {
  background-color: #161313;
}
.menu-list ul li a {
  color: #fff;
}
.menu-list {
  color: #fff;
}
header {
  height: 100px;
  margin-bottom: 58px;
}
.navbar-brand {
  margin-top: 7px;
}

.first-div {
  color: var(--neutral-0-white, #fff);
  font-family: "Poppins";
  font-size: 20.936px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mid-div ul li {
  list-style: none;
  margin: 0px 20px;
  padding-top: 5px;
}
.mid-div ul li a {
  text-decoration: none;
  color: var(--neutral-0-white, #fff);

  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.mid-div {
  align-items: normal;
}
.last-div a {
  color: var(--neutral-0-white, #fff);

  text-decoration: none;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-top: 14px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 474px) {
  .fluid {
    align-items: normal !important;
    padding: 0;
  }
  .aff {
    display: flex;
    justify-content: center;
  }

  .main-content h5 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .main-content p {
    color: #e7e7e7;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .main-btn .red-btn {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    display: inline-flex;
    height: 44px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #ff626a;
    border: 1px solid #ed4d55;
    margin: 0px 2px;
    display: inline-flex;
  }
  .main-btn .transparent {
    display: inline-flex;
    height: 44px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    background-color: transparent;
    margin: 0px 2px;
  }
  .Popular h5 {
    color: #121212;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .Popular p {
    color: #808080;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .card-img {
    width: 334px;
    height: 426px;
  }
  .text-img {
    transform: translateY(-87px);
    left: 36px;
  }
  .text-img p {
    color: var(--neutral-0-white, #fff);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .text-img span {
    color: #fff;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .things h5 {
    color: #121212;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }

  .things p {
    color: #808080;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .img-travel {
    width: 80px;
    height: 80px;
    margin-bottom: 21px;
  }

  .card-travel h5 {
    color: #121212;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .card-travel p {
    color: #808080;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .card-travel a {
    color: #ff626a;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
  }
  .btn-card-img {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    height: 44px;
    padding: 16px 56px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #ff626a;
    border: 1px solid #ff626a;
  }
  .div-card-btn {
    margin-left: 27%;
  }

  .our h5 {
    color: #121212;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }

  .ourr {
    color: #808080;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .ourimg1 {
    width: 334px;
    height: 370px;
    flex-shrink: 0;
    background-image: url(../img/our-img1.png);
    margin: 8px 16px 0;
    border-radius: 16px;
  }
  .ourimg2 {
    width: 334px;
    height: 370px;
    flex-shrink: 0;
    background-image: url(../img/our-img2.png);
    margin: 8px 16px 0;
    border-radius: 16px;
  }
  .ourimg3 {
    width: 334px;
    height: 370px;
    flex-shrink: 0;
    background-image: url(../img/our-img3.png);
    margin: 8px 16px 0;
    border-radius: 16px;
  }
  .our-text p {
    color: #fff;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-top: 288px;
  }

  .our-card-img {
    width: 334px;
    height: 370px;
  }
  .fa-star {
    color: #f7b940;
  }

  /**********************************************************************************************************************/

  .our-btn {
    display: inline-flex;
    height: 44px;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #ff626a;
    color: #fff;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    border: 1px solid #ed4d55;
    margin-bottom: 60px;
  }
  .div-our-btn {
    text-align: center;
  }
  .iphone {
    width: 100%;
    flex-shrink: 0;
    background: url(<path-to-image>),
      rgb(243, 91, 91) -0.127px -747px / 100.021% 271.33% no-repeat;
    margin-bottom: 52px;
  }
  .img-iphone {
    margin: 0 4px 40px;
    width: 146px;
    height: 42px;
    border-radius: 8px;
  }

  .text-iphone h5 {
    color: #fff;
    font-family: "Inter";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    padding-top: 32px;
  }
  .text-iphone p {
    color: #fafafa;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    width: 334px;
  }

  .main-iphone {
    width: 172px;
    height: 372px;
    transform: translateX(55px);
  }

  .star {
    width: 276px;
    height: 276px;
    flex-shrink: 0;
    background-color: #fafafb;
    border-radius: 16px;
  }

  .text-star {
    margin-bottom: 30px;
  }
  .text-star span {
    color: #808080;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .text-star p {
    color: #808080;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .portrait {
    width: 40px;
    height: 40px;
    transform: scaleX(-1);
  }
  .text-star-2 p {
    color: var(--text-main-text, #121212);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .div-mid {
    margin: 15px 100px;
  }
  .div-center {
    margin: 15px 0;
  }
  .start-end {
    margin-bottom: 70px;
  }
  .end {
    margin-bottom: 70px;
  }
  .last {
    width: 335px;
    height: 790px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--neutral-25, #fafafb);
  }
  .last-text h5 {
    color: var(--text-main-text, #121212);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .last-text p {
    color: var(--text-secondary-text, #808080);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .last-icon {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
  }

  .last-card {
    background-color: #fafafb;
  }

  .footer {
    padding-top: 39px;
    margin-top: 96px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .footer ul li a {
    text-decoration: none;
    color: var(--text-secondary-text, #808080);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .footer ul li a button {
    height: 52px;
    padding: 8px 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 26px;
    background: var(--neutral-0-white, #fff);
    color: var(--text-main-text, #121212);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    border: 1px solid #fff;
  }
  .footer ul li {
    list-style: none;
    margin: 16px 0;
  }
  .footer ul li span {
    color: var(--neutral-0-white, #fff);
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .yalafooter {
    color: var(--neutral-0-white, #fff);
    font-family: "Poppins";
    font-size: 24.988px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  i {
    margin: 0 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }
  hr {
    margin-top: 52px;
    margin-bottom: 32px;
    color: #808080;
  }
  .crghite {
    display: block;
    text-align: center;
  }
  .crghite p {
    color: var(--text-secondary-text, #808080);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .crghite span {
    color: var(--text-secondary-text, #808080);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .footer-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
  }
  .iicon {
    margin: 0 10px;
  }
  .iiicon {
    margin-right: 10px;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .ourimg1 {
    width: 378px;
    height: 418px;
    flex-shrink: 0;
    background-image: url(../img/our-img1.png);
    margin: 8px 16px 0;
  }
  .ourimg2 {
    width: 378px;
    height: 418px;
    flex-shrink: 0;
    background-image: url(../img/our-img2.png);
    margin: 8px 16px 0;
  }
  .ourimg3 {
    width: 378px;
    height: 418px;
    flex-shrink: 0;
    background-image: url(../img/our-img3.png);
    margin: 8px 16px 0;
  }
  .our-text p {
    color: var(--neutral-0-white, #fff);
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-top: 319px;
  }
  /***************************************************************************/
  .fluid {
    align-items: normal !important;
    padding: 0 80px;
  }
  .container.align {
    align-items: normal;
    margin-top: 15px;
  }

  .first-div a {
    color: #fff;
    font-family: "Poppins";
    font-size: 20.936px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .first-div span {
    color: #f44a4a;
  }
  .second-div ul li a {
    text-decoration: none;
    color: var(--neutral-0-white, #fff);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    margin: 0 20px;
  }
  .second-div ul {
    margin-top: 0;
  }
  .second-div ul li {
    margin: 0;
  }
  .last-list ul li a {
    text-decoration: none;
    color: var(--neutral-0-white, #fff);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .align-a {
    margin-top: 1px;
  }
  .Countries {
    text-decoration: none;
    color: var(--neutral-0-white, #fff);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 140%; */
  }
  .offcanvas-title {
    color: #fff;
  }

  .main-content h5 {
    color: var(--neutral-0-white, #fff);
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .main-content p {
    color: var(--neutral-100, #e5e5e6);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .main-btn .red-btn {
    padding: 14px 40px;
    gap: 10px;
    border-radius: 30px;
    background: var(--pink-400-default, #ed4d55);
    color: var(--neutral-0-white, #fff);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin: 0px 10px;
    border: 1px solid #ed4d55;
    margin: 0px 9px;
  }
  .main-btn .transparent {
    padding: 14px 40px;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid var(--neutral-0-white, #fff);
    background-color: transparent;
    color: var(--neutral-0-white, #fff);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin: 0px 9px;
  }

  .last-main {
    background-color: var(--neutral-25, #fafafb);
    height: 150px;
    /* padding-top: 30px; */
  }
  .div-card-img {
    margin-bottom: 96px;
  }
  .Popular h5 {
    color: var(--text-main-text, #121212);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .Popular p {
    color: var(--text-secondary-text, #808080);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0 0 56px 0;
  }
  .Popular-btn {
    display: inline-flex;
    padding: 14px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--pink-400-default, #ed4d55);
    border: 1px solid #ed4d55;
    color: var(--neutral-0-white, #fff);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .card-img {
    width: 380px;
    height: 484px;
  }

  .text-img {
    left: 44px;
  }
  .text-img p {
    color: var(--neutral-0-white, #fff);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .text-img span {
    color: #fff;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .things h5 {
    color: var(--text-main-text, #121212);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .things-bottom {
    margin-bottom: 120px;
  }
  .things p {
    color: var(--text-secondary-text, #808080);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .img-travel {
    width: 100px;
    height: 100px;
  }
  .card-travel h5 {
    color: var(--text-main-text, #121212);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .card-travel p {
    color: var(--text-secondary-text, #808080);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 376px;
  }
  .card-travel a {
    color: var(--pink-400-default, #ed4d55);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
  }
  .our h5 {
    color: var(--text-main-text, #121212);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }

  .ourr {
    color: var(--text-secondary-text, #808080);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .our-card-img {
    width: 378px;
    height: 418px;
  }

  .our-btn {
    display: inline-flex;
    padding: 14px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--pink-400-default, #ed4d55);
    border: 1px solid #ed4d55;
    color: var(--neutral-0-white, #fff);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 116px;
  }
  .iphone {
    width: 1200px;
    height: 436px;
    flex-shrink: 0;
    background: url(<path-to-image>),
      rgb(243, 91, 91) -0.127px -747px / 100.021% 271.33% no-repeat;
    border-radius: 16px;
    margin-bottom: 120px;
  }
  .text-iphone h5 {
    color: var(--neutral-0-white, #fff);
    font-family: "Inter";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    padding-top: 53px;
  }
  .text-iphone p {
    color: var(--neutral-0-white, #fff);
    width: 454px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 50px;
  }
  .img-iphone {
    margin: 0 6px;
    width: 180px;
    height: 52px;
  }
  .main-iphone {
    transform: translateY(-35px);
    width: 255px;
    height: 551px;
  }

  .star {
    width: 400px;
    height: 337px;
    flex-shrink: 0;
    background-color: #fafafb;
  }
  .text-star {
    margin-bottom: 35px;
  }
  .fa-star {
    color: #f7b940;
  }
  .text-star span {
    color: var(--text-secondary-text, #808080);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .text-star p {
    color: var(--text-secondary-text, #808080);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .portrait {
    width: 80px;
    height: 80px;
    transform: scaleX(-1);
  }
  .text-star-2 p {
    color: var(--text-main-text, #121212);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 300%;
  }
  .div-center {
    margin: 0 32px;
  }
  .Testimonials {
    margin-bottom: 56px;
  }
  .start-end {
    margin-bottom: 91px;
  }
  .last {
    width: 1200px;
    height: 518px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--neutral-25, #fafafb);
    margin-bottom: 60px;
  }
  .last-text h5 {
    color: var(--text-main-text, #121212);
    text-align: center;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
  }
  .last-text p {
    color: var(--text-secondary-text, #808080);
    text-align: center;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
  }
  .last-icon {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }
  .last-card {
    background-color: #fafafb;
  }
  .footer {
    padding-top: 39px;
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
  .footer ul li a {
    text-decoration: none;
    color: var(--text-secondary-text, #808080);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .footer ul li a button {
    display: flex;
    height: 52px;
    padding: 8px 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 26px;
    background: var(--neutral-0-white, #fff);
    color: var(--text-main-text, #121212);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    border: 1px solid #fff;
  }

  .footer ul li {
    list-style: none;
    margin: 16px 0;
  }
  .footer ul li span {
    color: var(--neutral-0-white, #fff);
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .yalafooter {
    color: var(--neutral-0-white, #fff);
    font-family: "Poppins";
    font-size: 24.988px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  i {
    margin: 0 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }
  hr {
    margin-top: 52px;
    margin-bottom: 32px;
    color: #808080;
  }
  .footer-icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: #fff;
  }
  .iicon {
    margin: 0 10px;
  }
  .iiicon {
    margin-right: 10px;
  }
  .crghite {
    display: flex;
    justify-content: space-between;
  }
  .crghite p {
    color: var(--text-secondary-text, #808080);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .crghite span {
    color: var(--text-secondary-text, #808080);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .aff {
    display: flex;
    justify-content: space-between;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
